@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.active {
    background-color: #2e3233;
    border-radius: 25px;
    padding: 5px;
    color: white !important;
}

.date-preview {
    position: relative;
    width: 642px;
    height: 69px;
    margin: 0 auto;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #DADADA;
    background: #FFF;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.leftButton,
.rightButton {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none
}

.leftButton {
    left: -35px;
}

.rightButton {
    right: -35px
}

.leftButton:hover,
.rightButton:hover {
    background-color: #e2e2e2;
    box-shadow: none
}

.date-buttons button {
    padding: 4px 8px;
    font-size: 14px;
    margin-right: 5px;
}

.date-preview {
    width: 642px;
    height: 69px;
    margin: 0 auto;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #DADADA;
    background: #FFF;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.10);
}

.date-preview p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; /* Adjust the font size as needed */
    font-style: normal;
    font-weight: 600; /* Adjust the font weight as needed */
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

.category-bubble {
    display: inline-block;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #ccc;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
  }
  
 .categories-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  margin-top: 5px;
}

@media (max-width: 768px) {
    .date-preview {
        width: 90%;
        height: auto;
    }

    .date-preview p {
        font-size: 14px; /* Adjust the font size as needed */
    }
}