/* Add this to your CSS file */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Adjust the value as needed */
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    /* Should be higher than modal-overlay */
}

.map-container-modal {

    height: 400px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.519); */
}

.map {
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;
}

.suggestions {
    max-height: 300px;

    overflow: auto;
    border-radius: 20px;
}

.suggestion {
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    padding: 10px;

    height: fit-content;
    cursor: pointer;

    transition: .4s all;
}

.suggestion:hover {
    background-color: rgb(215, 215, 215);
}


.suggestions {
    display: flex;
    flex-direction: column;
    /* Display buttons in a column */
}

.suggestion-button {
    margin-bottom: 5px;
    /* Adjust the margin as needed for spacing between buttons */
}

.map-container {

    height: 400px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.519); */
}

.map {
    border-radius: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;
}