@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.eventnmap {
  display: flex;
  margin-top: 100px;
}

.events-body {
  width: 50%;
}

.map-body {
  width: 50%;
}

.event-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-card {
  width: 70%;
  padding: 20px;
  margin: 16px;
  background-color: #1a1a1a; /* Dark background color */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.event-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  color: #ff5733; /* White text color */
}

.event-location,
.event-participants {
  font-size: 18px;
  color: #cccccc; /* Light gray text color */
}

.event-time {
  font-size: 18px;
  color: #ffffff; /* White text color */
  margin-top: 8px;
  font-weight: bold;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.view-button {
  background-color: #ffffff; /* White button color */
  color: #000000; /* Black text color */
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.view-button:hover {
  color: #ff5733; /* Orange hover color */
}

.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Darker background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-modal {
  background: #333; /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; /* Adjust the width as needed */
  max-height: 90%; /* Adjust the height as needed */
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 500px; /* Set the width to 600px */
  height: 500px; /* Set the height to 600px */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-name {
  margin: 0;
  flex-grow: 1; /* Allow the event name to take up all available space */
  text-align: center;
  color: #ff5733; /* Keep the event name color */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.close-button:hover {
  color: #ff5733;
}

.participate-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ff5733; /* Different color for the Attend button */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.participate-button:hover {
  color: black;
}

.event-modal h2 {
  margin: 0;
  color: #ff5733;
}

.modal-content {
  margin-top: 20px;
}

.event-info {
  font-size: 18px;
  margin: 0;
}

.event-description {
  font-size: 16px;
  line-height: 1.5;
}
