* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.content {
  position: relative;
  margin-top: 150px;
  padding: 20px;
  flex: 1;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 30px; /* Adjust the margin from the left */
  margin-top: 25px; /* Add margin from the top */
}

.events-title {
  font-size: 32px; /* Adjust the font size for the 'Events' title */
  margin: 20px 0; /* Add more margin from the top */
}

.right {
  border: 1px solid #ccc; /* Add borders to the right side */
  border-radius: 10px; /* Add round corners */
  padding: 10px; /* Add more padding for better appearance */
  margin-top: 25px; /* Add more space from the top */
  margin-right: 30px; /* Add more space from the right */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.right li {
  margin-left: 10px;
}

.admin-only {
  display: block;
}

.admin-only:hover {
  cursor: pointer;
  color: #ff5733;
}

.notification:hover {
  cursor: pointer;
  color: #ff5733;
}

.profile-btn {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: transparent;
  background: url("https://cdn.icon-icons.com/icons2/3395/PNG/512/profile_icon_214017.png")
    no-repeat;
  background-size: 24px;
  cursor: pointer;
}

/* Add any additional styling as needed */
